body {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    color: rgb(8, 17, 136);
    font-family: Helvetica;
    text-align: center;
    font-size: 50px
    
  }
  
  h2 {
    color:rgba(0, 4, 255, 0.281);
    text-align: left;
    font-family: 'Helvetica', Times, serif;
    font-size: 30px;
    
  }
  
  p {
    font-family: 'Helvetica', Times, serif;
    color: rgb(0, 4, 255);
    font-size: 20px;
  }

  ul {
    color:rgb(0, 4, 255);
    font-size: 20px;
    font-family: 'Helvetica';
  }

  img {max-width: 400px; }

 #estiloBotaoId {
   background: blue;
   text-align: center;
   cursor: pointer;
   color:rgb(255, 255, 255)  ;
 }